:root {
    --hover: #373737;
    --title: #221F20
}

/* navbar - header css */
.header {
    align-items: center;
    height: 80px;
    border: .5px solid whitesmoke;
}

.nav-item {
    font-weight: bold;
    color: var(--title)
}

.nav-item:hover {
    color: var(--hover)
}


.btn_custom {
    border: 0;
    outline: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent;
    margin: 10px;
}

.btn_mobile {
    border: 0;
    outline: 0;
    font-size: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent;
    margin: 10px;
}

.brand_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand_logo img {
    width: 140px;
    height: auto;
}

.right_nav {
    align-items: center;
}

.right_nav .search_form {
    width: 100%;
    max-width: 360px;
    position: relative;
}

.right_nav .search_form input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 60px;
    outline: 0;
}

.right_nav .search_form button {
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.item_action {
    position: relative;
    display: inline-block;
    vertical-align: bottom;

}

.item_action .top-action {
    padding: 24px 24px 20px;
    position: relative;
    border-bottom: 1px solid #F7F8F9;
    margin-bottom: 24px;
    border-bottom: .5px solid whitesmoke;
}

.item_action .icon {
    font-size: 16px;
    color: #000;
    position: relative;
}

.item_action a {
    text-decoration: none;
    cursor: pointer;
}

.sub-action h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #221F20;
}

.sub-action ul {
    padding: 0 24px;
}

.sub-action ul li {
    list-style: none;
}

.sub-action ul li a {

    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
    display: block;
}

.sub-action {
    position: absolute;
    top: 40px;
    right: 0;
    background: #FFF;
    display: none;
    z-index: 2;
    border: 1px solid #E7E8E9;
    box-sizing: border-box;
    border-radius: 4px;
    width: max-content;
    min-width: 255px;
}

.navi_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    padding: 4px 0 0;
    z-index: 999;
    height: 80px;
}

.navi_nav .navi_item {
    width: 25%;
    text-align: center;

}

.mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: max-content;
    background-color: white;
    max-width: 100%;
    z-index: 30;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
}

.mobile .mobile_close {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: .6px solid #dfdcdc;
    margin-bottom: 24px
}

/* banner*/
.nav-info {
    margin-bottom: 24px;
    margin-right: -10px;
}

.left-nav-info {
    max-width: 32%;
    background: #D73831;
}

.center-nav-info {
    max-width: 36%;
    background: #DC633A;
}

.right-nav-info {
    max-width: 32%;
    background: #AC2F33;
}

.item-nav-info,
.item-nav-info a {
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    padding: 12px 0;
}

.item-nav-info a:hover {
    color: #FFF;
}

.carousel-inner {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;

}

.home-banner {
    margin-bottom: 40px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background: #FFF;
}

/*product view*/
.product_view {
    margin-bottom: 40px;
    margin-top: 40px;

}

 .title_product {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Montserrat';
    color: var(--title);
    margin-left: 10px;
    background: #DC633A;
    padding: 10px;
    color:white
}

 a {
    text-decoration: none;
}

 .product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px auto;
    background-color: transparent;
}


 .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 10px;
   
}

 .product-tumb img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
 .product-tumb  :hover
{
    opacity: 0.8;
}
 .product-details {
    padding: 20px;
}

 .product-catagory {
    display: block;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
    
}

 .product-details a{
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;

}

 

 .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

 .product-bottom-details {
    height: 80px;
    padding-top: 20px;
}

 .product-bottom-details div {
    float: left;
    width: 50%;
}
 .product-color
{  width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}
 .product-price {
    font-size: 18px;
    color: var(--title);
    font-weight: 600;
}

 .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

 .product-links {
    text-align: right;
}

 .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}



/* detail product */

.detail
{
    margin: 40px 0;
}
.detail .detail_img
{
    margin: 0 -15px;
}
.detail_img img {
    width: 100%;
    height: auto;
 }
.detail .detail_information
{
    padding-left: 65px;
    margin-top: 30px;
}
.detail_information h1
{
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #221f20;
}
.detail_information .detail_color,
.detail_size,
.detail_information .detail_price
{
    margin-top: 24px;
}
.detail_information .detail_color b,
.detail_information .detail_price b
{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221f20;
}
.detail_size label
{
    padding-right: 10px;
}
 .detail_size label
{
    display: inline-flex;
    cursor: pointer;
}
 .detail_size input[type=radio] {
    display: none;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
 .detail_size span
{
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
}
.detail .detail_checksize
{
    margin-top: 12px;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

.detail .detail_qty {
    align-items: center; /* Canh giữa các phần tử con */
    margin-bottom: 20px; /* Khoảng cách với phần tử phía dưới */
    margin-top: 20px;
  }
  
  .detail .detail_qty b {
    margin-right: 10px; /* Khoảng cách với input */
  }
  
  .detail .detail_qty input[type="number"] {
    
    border: 1px solid #ccc; /* Viền ngoài của input */
    border-radius: 5px; /* Bo tròn viền của input */
    outline: none; /* Bỏ đường viền khi focus */
  }

  .detail .detail_cart .btn
  {
    margin: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 0px;
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    padding: 15px;
    width: 100%;
    max-width: 150px;
    cursor: pointer;
  }

  .detail .detail_infor
  {
    margin-top: 24px;
  }
  .detail  .detail_infor
  {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    
  }
  .detail  .detail_infor .size {
    font-weight: bold;
  }
  
  .detail  .detail_infor.note {
    font-style: italic;
  }
/* footer */
footer .brand {
    letter-spacing: 2px;
}

footer a {
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--title) !important;
}


/* carthome */

.cart {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 390px;
    max-width: 100%;
    z-index: 3;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
}
.cart_item
{
    max-height: calc( 100vh - 75px - 240px );
    overflow: auto;
}

.see_cart {
    padding: 0 24px;
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
}

.see_cart a {
    color: #4B4E51;
    border: 1px solid #4B4E51;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.checksize .check_close .btn_close,
.mobile .mobile_close .btn_close,
.cart .btn_close {
    border: 0;
    outline: 0;
    font-size: 12px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent;
}

.cart .cart_close .title {
    font-weight: bold;
}

.cart .cart_close {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 20px;
    border-bottom: .6px solid #dfdcdc;
    margin-bottom: 24px
}

.cart .cart_list {
    margin-top: 1.4rem;
}

.cart .cart_item {
    color: black;
    display: block;
    padding: 8px 10px;
    font-size: 1rem;
}

.cart_item .item_img {
    width: 64px;
}

.cart_item .item_img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cart_item .item_info {
    padding-left: 12px;
}

.cart_item .item_info p {
    font-size: 16px;
    margin: 0;

}

.cart_item .item_info .detail {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 0;
}

.cart_item .item_info_price {
    padding-top: 10px;
    padding-right: 10px;
}

/*customer*/
.user_nav
{
   
    width: 100%;
    padding: 32px;
    border: 0.5px solid #ccc;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.user_nav .user_info
{
    align-items: center;
    padding-bottom: 24px;
}
.user_nav .user_info .info_avatar
{
    font-size: 16px;
}
.user_nav .user_info .info_name
{
    padding-left: 12px;
}


.user_nav .user_menu 
{
    margin-top: 32px;
}
.btn_user {
    margin: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 0px;
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    height: 48px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

/* cart */
/* reponsive nav */
.content_left .sum_product,
.content_left .sum_cart,
.content_left .final_cart,
.content_left .btn_cart,
.content_right .title_right,
.content_left
{
    margin-top: 30px;
    margin-bottom: 20px;
}

.content_right input[type="number"] {
    
    border: 1px solid #ccc; /* Viền ngoài của input */
    border-radius: 5px; /* Bo tròn viền của input */
    outline: none; /* Bỏ đường viền khi focus */
  }

  @media (max-width: 767px) {
    .content_right .item_info_detail {
         flex-direction: column;
     }
     .content_right .item_info_detail p {
         margin-bottom: 0.5rem;
     }
     .content_right th,td {
         display: block;
         padding: 1rem 0;
     }
    
     .content_right  td:first-child {
         padding-top: 0;
     }
     
     .content_right  td:last-child {
         padding-bottom: 0;
     }
     .content_right th{
         display: none;
     }
 }  
@media screen and (min-device-width: 992px) {

    .navi_nav,
    .btn_mobile {
        display: none;
    }

    .right_nav {
        display: flex;
    }
    .user_nav
    {
        max-width: 270px;
    }
}

@media screen and (max-device-width: 991px) {
    .btn_mobile {
        display: block;
    }

    .navi_nav {
        display: flex;
    }

    .brand_logo img {
        width: 110px;
        height: auto;
    }

    .right_nav {
        display: none;
    }
    .user_nav
    {
        max-width: 100%;
    }

}