/* css toàn bộ hệ trang website */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Set the style for the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

/* Set the style for the thumb */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* color of the thumb */
  border-radius: 5px; /* roundness of the thumb */
}

/* Set the style for the track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the track */
}
.buttons_added {
  opacity:1;
  display:inline-block;
  display:-ms-inline-flexbox;
  display:inline-flex;
  white-space:nowrap;
  vertical-align:top;
  margin-right: 0.3rem;
}
.is-form {
  overflow:hidden;
  position:relative;
  background-color:#f9f9f9;
  height:2.2rem;
  width:1.9rem;
  padding:0;
  text-shadow:1px 1px 1px #fff;
  border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
  outline:none;
}
.is-form.minus {
  border-radius:4px 0 0 4px;
}
.is-form.plus {
  border-radius:0 4px 4px 0;
}
.input-qty {
  background-color:#fff;
  height:2.2rem;
  text-align:center;
  font-size:1rem;
  display:inline-block;
  vertical-align:top;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:0;
  border-right:0;
  padding:0;
  width: 4rem;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
}